.reactGradientProgress {
  display: inline-block;
  border-radius: 100%;
  position: relative;
}
.reactGradientProgressPercentage {
  position: absolute;
  height:100%;
  width: 100%;
  margin: 0px auto;
}

.reactGradientProgressPercentageSpan {
  position: absolute;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.progressCircleBar {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
